<script src="https://code.jquery.com/jquery.js"></script>
@using HelpDeskTicketing.Data.ViewModels;

@model IEnumerable<Ticket>

@{

    ViewData["Title"] = "List of my tickets";
}


<div class="row">
    <div class="col-md-4 offset-4 fw-bold mb-4" style="padding-top:100px;">
        @switch(ViewBag.TicketsType)
        {
            case "All":
                <h3 class="fw-bold">List of my tickets</h3>
                break;

            case "Open":
                <h3 class="fw-bold">List of Open tickets</h3>
                break;

            case "Assigned":
                <h3 class="fw-bold">List of Assigned tickets</h3>
                break;

            case "Closed":
                <h3 class="fw-bold">List of Closed tickets</h3>
                break;

        }
       
    </div>


    <div class="col-md-12">
        <table class="table" id="myTable">
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Title</th>
                    <th>Priority</th>
                    <th>Status</th>
                    <th>Domain</th>

                    @if(User.IsInRole("User"))
                    {
                        <th>Assigned To</th>
                    }
                    else
                    {
                        <th>User</th>
                    }
                   
                    <th>Options</th>
                </tr>
            </thead>
            <tbody>
                @if(Model.Count() > 0)
                {

                    @foreach (var ticket in Model)
                    {
                        <tr class="align-middle">
                            <td>
                                @ticket.StartDate.ToString("dd.MM.yyyy hh:mm tt")
                            </td>
                            <td>@Html.DisplayFor(t=>ticket.Title)</td>

                            <td>
                                @switch (ticket.Priority.Name)
                                {

                                    case "Low":

                                        <div class="priority-badge" style="background-color:grey;">
                                            @Html.DisplayFor(t=>ticket.Priority.Name)
                                        </div>
                                        break;

                                    case "High":

                                        <div class="priority-badge" style="background-color:#F6804C;">
                                             @Html.DisplayFor(t=>ticket.Priority.Name)
                                        </div>
                                        break;

                                    case "Critical":

                                        <div class="priority-badge" style="background-color:red;">
                                            @Html.DisplayFor(t=>ticket.Priority.Name)
                                        </div>
                                        break;

                                }

                            </td>
                           
                            <td>
                                @switch(@ticket.Status.Name)
                                {

                                    case "Open":

                                        <div class="status-badge" style="background-color:cornflowerblue;">
                                            @Html.DisplayFor(t=>ticket.Status.Name)
                                        </div>

                                        break;

                                    case "Assigned":

                                        <div class="status-badge" style="background-color: forestgreen;">
                                            @Html.DisplayFor(t=>ticket.Status.Name)
                                        </div>

                                        break;

                                    case "Closed":

                                        <div class="status-badge" style="background-color: dimgrey;">
                                            @Html.DisplayFor(t=>ticket.Status.Name)
                                        </div>

                                        break;

                                }

                            </td>
                            <td>@Html.DisplayFor(t=>ticket.Domain.Name)</td>
                            <td>
                                @foreach (var user in ticket.TicketUsers)
                                {

                                    if ((User.IsInRole("User") && user.UserRole.Equals("SystemAdmin") && user.Active == 1)
                                        ||
                                     (User.IsInRole("SystemAdmin") && user.UserRole.Equals("User")))
                                    {

                                            @Html.DisplayFor(t=>user.AppUser.FullName)

                                    }

                                }
                               
                                </td>
                            <td>
                                <a class="btn btn-outline-primary" asp-controller="Tickets" asp-action="GetTicket" 
                                        asp-route-id="@ticket.Id">
                                    <i class="bi bi-list "></i>
                                    Details
                                </a>
                                @if (User.IsInRole("SystemAdmin") && !ticket.Status.Name.Equals("Assigned"))
                                {

                                    <a class="btn btn-outline-success" asp-controller="Tickets" asp-action="AssignTicket"
                                    asp-route-id="@ticket.Id">
                                        <i class="bi bi-database-fill-add"></i>
                                        Assign ticket
                                    </a>

                                }
                            </td>
                        </tr>
                    }
                }
                
            </tbody>
        </table>
    </div>
</div>
